*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  color: #424242;
  overflow: hidden;
}
.nav-block{
  display: none;
}
.list-item-small {
  color: #FFFF00;
  text-transform: uppercase;
  text-align: center;
  display: none;
}
a{
  text-decoration: none;
  list-style: none;
}
li{
  list-style: none;
  text-decoration: none;
}
@media (max-width: 991.9px) {
  .list-item-small {
    display: block;
  }
}

.header-visible {
  top: 0;
}

.header-hidden {
  top: -100%;
}

.logo-index {
  z-index: 100;
}

.nav-toggle-btn {
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: .2s;
  width: 30px;
  height: 25px;
  display: none;
  margin: 1.8rem 0;
  z-index: 100;
  outline: none;
  border: none;
  background: transparent;
  @media (max-width: 991.9px) {
    display: flex;
  }

  &:before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5px;
    background: #FFFF00;
    transition: .2s;
    transform: translateY(-10px);
    outline: none;
    box-shadow: 0 10px 0 #FFFF00;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5px;
    outline: none;
    background: #FFFF00;
    transition: .2s;
    transform: translateY(10px);
  }
}

.active {
  &::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  &::after {
    transform: translateY(0) rotate(-45deg);
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.45);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 2px;
  width: 16px;
  background-position: center 2px;
}

::-webkit-scrollbar-thumb {
  background: #FFFF00;
  border-radius: 2px;
}

::selection {
  color: #ffffff;
  background: #888888;
}